 .inputbox{
     display: grid;
     place-items: center;
     height: 100vh;
     background-color: lightgray;
 }
 .inputfield{
     background-color: white;
     text-align: center;
     border-radius: 10px;
     box-shadow: 0 5px 6px rgba(0,0,0, 0.12), 0 2px 3px rgba(0,0,0, 0.24);
    padding-bottom: 20px;
    }
 .inputfield > img{
     
     padding-bottom: 40px;
     padding-top: 20px;

 }
 .inputfield > h1{
     color:red;
     text-align: center;
 }
 .inputfield > p{
     color: green;
     text-align: center;
 }
 